<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <link href="../Styles/style.css" rel="stylesheet" type="text/css"/>
  <title>
   封面
  </title>
 </head>
 <body>
  <div class="cover">
   <img alt="" src="../Images/{cover_name}"/>
  </div>
  <div class="entry">
   <span class="title">
    简介
   </span>
   <div class="entry-content">
    <p>
     {introduction}
    </p>
   </div>
  </div>
 </body>
</html>