<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="../Styles/style.css" rel="stylesheet" type="text/css"/>
    <title>
        {book_name}
    </title>
</head>
<body>
<div class="entry">
   <span class="title">
    {book_name}
   </span>
    <div class="entry-content introduction">
        <h4>
            {volume_number} {volume_name}
        </h4>
        {author}
        {illustrator}
        <p class="titlep">
            制作：
            <a href="https://github.com/bebound/linovel" target="_blank">
                linovel
            </a>
        </p>
    </div>
</div>
</body>
</html>